
<div class="col-md-6">
	<div class="wow fadeInUp" data-wow-delay="0.2s">
		<p class="mb-4">Bize ulaşın veya bir teklif almak için aşağıdaki formu doldurun.</p>
		<form id="contact-form" asp-action="AddMessage" asp-controller="Message" >
			<div class="row g-3">
				<div class="col-md-6">
					<div class="form-floating">
						<input type="text" class="form-control" name="Name" id="Name" placeholder="İsim">
						<label for="Name">İsim</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-floating">
						<input type="Mail" class="form-control" name="Mail" id="Mail" placeholder="E-posta">
						<label for="Mail">E-posta</label>
					</div>
				</div>
				<div class="col-12">
					<div class="form-floating">
						<input type="text" class="form-control" name="Title" id="Title" placeholder="Konu">
						<label for="Title">Konu</label>
					</div>
				</div>
				<div class="col-12">
					<div class="form-floating">
						<textarea class="form-control" placeholder="Mesajınızı buraya yazın" name="Description" id="Description" style="height: 100px"></textarea>
						<label for="Description">Mesaj</label>
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-primary w-100 py-3" type="submit">Gönder</button>
				</div>
			</div>
		</form>
	</div>
</div>