@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Kullanıcı Profili";
}

<div class="container mt-5">
    <h1 class="mb-4">Kullanıcı Profili</h1>

    @if (Model != null)
    {
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Profil Bilgileri</h3>
                <p><strong>İsim:</strong> @Model.Name</p>
                <p><strong>Email:</strong> @Model.Email</p>
                <p><strong>Kalan İzin Hakkı:</strong> @Model.PermitRemaining</p>
                @* Kullanıcı resmi için URL varsa, şöyle gösterebilirsiniz: *@
                <img src="@Model.Image" class="img-fluid rounded mt-3" alt="Kullanıcı Resmi">
            </div>
        </div>

    }
</div>